@font-face {
	font-family: Sansation;
	src: url('Sansation.ttf')
}

/* Background */
body {
	background: url('bg.png');
}

/* Outer Wrapper */
#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans';
}

/* Header & Logo */
header {
	height: 65px;
}

#logo {
	display: block;
	width: 525px;
	height: 60px;
	background: url("logo.png");
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}

#logo:hover {
	background: url("logo-hover.png");
}

#header-left {
	float: left;
	width: 700px;
	height: 65px;
}
#header-right {
	float: right;
	width: 225px;
	height: 65px;
	line-height: 65px;
	text-align: right;
}
.header-link {
	display: inline-block;
	padding: 0 10px 0 10px;
	font-family: Sansation;
	font-size: 26px;
	text-decoration: none;
	color: #2371A8;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.header-link:hover {
	color: #83B4D6;
}

/* Hero */

#hero {
	width: 1000px;
	height: 250px;
	background: url("hero.png");
	background-position: right;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	border: 1px solid #666;
	box-shadow: 0px 0px 4px #75B2DD;
	z-index: 20;
}

.herotext {
	display: block;
	margin: 0;
	width: 325px;
	font-size: 20px;
	color: #1C4070;
	line-height: 150%;
	margin: 22px 20px;
}

.test {
	display: block;
	float: left;
	width: 200px;
	height: 200px;
	background: red;
	margin: 10px;
	padding: 0;
	background: url("crown.png");
	border: 1px solid #666;
	color: #eeeeee;
	text-shadow: 1px 1px 1px black;
}

.test:hover {
	cursor: pointer;
	box-shadow: 0px 0px 8px #75B2DD;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
}

.groupname {
	display: block;
	width: 190px;
	background: #333;
	padding: 5px;
	opacity: 0.8;
}

#main-left {
	float: left;
	width: 670px;
	height: 475px;
	margin: 0 0 5px 0;
	padding: 10px 10px 20px 10px;
}

#squares {
	clear: both;
}

#main-right {
	float: right;
	text-align: center;
	width: 290px;
	margin: 0;
	padding: 10px;
}

select {
	color: #858585;
	font-family: Sansation;
	height: 30px;
	font-size: 16px;
	font-family: 'Open Sans';   
}

input[type=search] {  
	height: 30px;
	font-size: 16px;
	margin: 10px auto 20px auto;
	display: block; 
	width: 85%;
	font-family: 'Open Sans';                
}

/* Forms */
#signup {
	font-family: 'Open Sans';
	margin-top: -60px;
	margin-bottom: 20px;
	padding: 100px;
	width: 220px;
	height: 360px;
	display: none;
}

#signup-form {
	margin: 0 auto;
}

.signup-field {
	width: 200px;
	display: block;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px;
	font-family: 'Open Sans';
}

.login-field {
	display: block;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px;
	font-family: 'Open Sans';
}

::-webkit-input-placeholder {
   font-family: 'Open Sans';
}
:-moz-placeholder { /* Firefox 18- */
   font-family: 'Open Sans'; 
}
::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Open Sans';
}
:-ms-input-placeholder {  
   font-family: 'Open Sans';
}
input:focus {
	outline: none;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	box-shadow: 0 0 5px #83B4D6;
	-webkit-box-shadow: 0 0 5px #83B4D6;
	-moz-box-shadow: 0 0 5px #83B4D6;
	-o-box-shadow: 0 0 5px #83B4D6;
}

/* Footer */
footer {
	clear: both;
	text-align: center;
	font-size: 12px;
}

/* Text */
h1 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 26px;
	font-family: Sansation;
	color: #333B45;
	font-weight: normal;
}

#categories {
	font-size: 18px;
}

p {
	margin: 0;
	padding: 0;
	line-height: 150%;
	color: #333333;
}

a:link, a:visited {
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	text-decoration: none;
	color: #2371A8;
}

a:hover {
	color: #83B4D6;
}

.big-button {
display: block; cursor: pointer; border:1px solid #25729a; width: 100px; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:verdana; margin: 15px auto 0 auto; padding: 5px 10px 5px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); text-align: center; color: #FFFFFF; background-color: #36A6E0;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36A6E0), color-stop(100%, #1c5a85));
 background-image: -webkit-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: -moz-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: -ms-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: -o-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: linear-gradient(top, #36A6E0, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36A6E0, endColorstr=#1c5a85);
}

.big-button:hover{
 border:1px solid #186c98; background-color: #1e8cc5;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e8cc5), color-stop(100%, #133d5b));
 background-image: -webkit-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: -moz-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: -ms-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: -o-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: linear-gradient(top, #1e8cc5, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1e8cc5, endColorstr=#133d5b);
}

hr {
margin-top: 20px;
margin-bottom: 20px;
width: 300px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #eeeeee, #666666, #eeeeee); 
background-image: -moz-linear-gradient(left, #eeeeee, #666666, #eeeeee); 
background-image: -ms-linear-gradient(left, #eeeeee, #666666, #eeeeee); 
background-image: -o-linear-ggradient(left, #eeeeee, #666666, #eeeeee); 
}

hr.footerhr {
margin-top: 20px;
margin-bottom: 10px;
width: 600px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #eeeeee, #666666, #eeeeee); 
background-image: -moz-linear-gradient(left, #eeeeee, #666666, #eeeeee); 
background-image: -ms-linear-gradient(left, #eeeeee, #666666, #eeeeee); 
background-image: -o-linear-ggradient(left, #eeeeee, #666666, #eeeeee); 
}