<!DOCTYPE html>
<html>
	<head>
		<title>ColumbiaConnect</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="/static/jquery-dropdown.css">
		<link rel="icon" type="image/ico" href="/static/images/favicon.ico">

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div id="header-left">
					<a href="/" id="logo"></a>
				</div>
				<div id="header-right">
					<a href="#signup" class="header-link fancybox">Sign Up</a> 
					<a href="#" class="header-link" data-dropdown="#login-menu" data-horizontal-offset="-12" data-vertical-offset="-15">Log In</a> 
				</div>
			</header>

			{%block content%} {%endblock%}
			

			<footer>
				<hr class="footerhr">
				<p class="footer-text">Created by Chris Mulligan, Alex Dong, & Martin Li<br/>
				for <a href="http://www.hackcolumbia.org">HackColumbia</a>, Columbia University</p>
			</footer>
		</div>

		<section id="signup">
			<div style="text-align: center; margin-bottom: 25px; font-weight: bold;">Signing up with ColumbiaConnect is easy!</div>
			<form id="signup-form" method="post" action = "/signup/">
				{% csrf_token %}
				First Name:
				<input type="text" name="first_name" placeholder="John" class="signup-field">
				Last Name:
				<input type="text" name="last_name" placeholder="Smith" class="signup-field">
        		Columbia E-mail:
        		<input type="email" name="email" placeholder="uni@columbia.edu" class="signup-field">
        		Password:
        		<input type="password" name="password_initial" class="signup-field">
        		Confirm Password:
        		<input type="password" name="password_repeat" class="signup-field">
        		<button type="submit" name="submit" class="big-button">Sign Up!</button>
			</form>
		</section>

		<div id="login-menu" class="dropdown dropdown-tip dropdown-anchor-right">
			<div class="dropdown-menu">
				<form method="post" action="/login/">
					{% csrf_token %}
	        		<input type="text" name="username" placeholder="E-mail" class="login-field">
	        		<input type="password" name="password" placeholder="Password" class="login-field">
	        		<button type="submit" name="submit" class="big-button">Log In</button>

	        		<input type="hidden" name="login_form" value="1" />
	        		<input type="hidden" name="next" value="/" />
				</form>
			</div>
		</div>
		<a href="/logout">Logout!</a>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>

		<!-- Fancybox -->
		<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen">
		<script src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>

		<!-- Fancybox Options -->
		<script>
			(function() {
				$(".fancybox").fancybox({
					padding: 0
				});
			})();
		</script>

		<script>
		$(document).ready(function(){
			$(".test").each(function(index) {
    			$(this).hide().delay(225*index).fadeIn(750);
			});
		});
		</script>

		<script src="/static/jquery-dropdown.js"></script>
	</body>
</html>