
{%extends "frontend/base.html"%}

{%block content%}
			<div id="hero">
				<h1 style="margin-top: 210px; margin-left: 15px;">&#187; {{ group_name }}</h1>
			</div>
			<div id="main-left">
				<h1>Group Description:</h1>
				<p>{{ group_description }}</p>
				<br>
				<h1>Message Board</h1>
			</div>
			<div id="main-right">
				<form method="POST" action="/join_group/{{group_name}}">
					{% csrf_token %}
					<button type="submit" name="joingroup" class="bigger-button">Join Group</button><br>
				</form>
				<h1>Members List</h1>
					<p> {{members}} </p>
			</div>

{%endblock%}