
{%extends "frontend/base.html"%}

{%block content%}
			<div id="hero">
			</div>
			<form id="create_group_form" method="post" action = "/create_group/">
				<div id="stuff">
					Group Name:
					<input type="text" name="group_name" placeholder="Columbia Starcraft" class="signup-field">
					Category
					<select>
						<option value="academics"> Academics </option>
						<option value="games"> Games </option>
					</select>
					Description
					<input type="text" name="description" placeholder="Enter description here." class="signup-field">
					<button type="submit" name="submit" class="big-button">Create Group</button>
				</div>
			</form>
{%endblock%}

{% block footer %}
<p> Oh hai there </p>
{%endblock %}