<!DOCTYPE html>
<html>
	<head>
		<title>ColumbiaConnect</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="/static/jquery-dropdown.css">
		<link rel="icon" type="image/ico" href="/static/images/favicon.ico">

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div id="header-left">
					<a href="index.html" id="logo"></a>
				</div>
				<div id="header-right">
					<a href="#signup" class="header-link fancybox">Sign Up</a> 
					<a href="#" class="header-link" data-dropdown="#login-menu" data-horizontal-offset="-12" data-vertical-offset="-10">Log In</a> 
				</div>
			</header>
			<div id="hero">
			</div>
			<div id="stuff">
				<span class="test">{{ current_date }}</span>
				<span class="test"> {{ logged_in }} </span>
				<span class="test">Hello</span>
				<span class="test">Hello</span>
				<span class="test">Hello</span>
			</div>
		</div>

		<section id="signup">
			<div style="text-align: center; margin-bottom: 25px; font-weight: bold;">Signing up with ColumbiaConnect is easy!</div>
			<form id="signup-form">
				Name:
				<input type="text" name="name" placeholder="John Smith" class="signup-field">
        		Columbia E-mail:
        		<input type="email" name="email" placeholder="uni@columbia.edu" class="signup-field">
        		Password:
        		<input type="password" name="password" class="signup-field">
        		Confirm Password:
        		<input type="password" name="password" class="signup-field">
        		<button type="submit" name="submit" class="big-button">Sign Up!</button>
			</form>
		</section>

		<div id="login-menu" class="dropdown dropdown-tip dropdown-anchor-right">
			<div class="dropdown-menu">
				<form method="post" action="/home/">
					{% csrf_token %}
	        		<input type="text" name="username" placeholder="E-mail" class="login-field">
	        		<input type="password" name="password" placeholder="Password" class="login-field">
	        		<button type="submit" name="submit" class="big-button">Log In</button>

	        		<input type="hidden" name="login_form" value="1" />
	        		<input type="hidden" name="next" value="/" />
				</form>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>

		<!-- Fancybox -->
		<link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen">
		<script src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>

		<!-- Fancybox Options -->
		<script>
			(function() {
				$(".fancybox").fancybox({
					padding: 0
				});
			})();
		</script>

		<script>
		$(".test").each(function(index) {
    		$(this).hide().delay(275*index).fadeIn(750);
		});
		</script>

		<script src="/static/jquery-dropdown.js"></script>
	</body>
</html>