
{%extends "frontend/base.html"%}


{%block content%}
	<div id="hero">
		<p class="herotext">ColumbiaConnect is the quickest way to find and meet up with other Columbia students with similar interests.</p>
		<p class="herotext">Browse/search existing groups or create your own below!</p>
		</div>
		<div id="main-left">
			<div style="float: left; margin-bottom: 5px;"><h1>Featured Groups</h1></div>
			<div style="float: right; margin-top: 3px; margin-right: 15px;">Sort by: 
				<select>
					<option value="Members">Members</option>
					<option value="Date">Date</option>
					<option value="Random">Random</option>
				</select>
			</div>
			<div id="squares">
				{% for connex in connexes %}
				<a href="usergroup/{{ connex.name }}"><span class="test" style="background: url('/groupimage/{{ connex.name }}.jpg');"><span class="groupname">{{ connex.name }}</span></span></a>
				{% endfor %}
			</div>
		</div>
		<div id="main-right">
			<form>
				<input type="search" id="searchbar" name="search" results="5" placeholder="Search...">
			</form>
			<div id="categories">
				<h1>Categories</h1>
				<a href="#">Academics</a> ·
				<a href="#">Games</a> ·
				<a href="#">Languages</a>
				<a href="#">Miscellaneous</a> ·
				<a href="#">Music</a> ·
				<a href="#">Sports</a>
			</div>
			<hr>
			<h1>Create New Group</h1>
			<p>Can't find what you're looking for? <a href="create_group">Create a new group</a>!</p>

			<!--<div style="display:{{ requires_in }};"> Please create an account or sign in to create a new group. </div> -->
		</div>
{%endblock%}