@font-face {
	font-family: Sansation;
	src: url('Sansation.ttf')
}

/* Background */
body {
	background: url('bg.png');
}

/* Outer Wrapper */
#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans';
}

/* Header & Logo */
#logo {
	display: block;
	width: 525px;
	height: 60px;
	background: url("logo.png");
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}

#logo:hover {
	background: url("logo-hover.png");
}

#header-left {
	float: left;
	width: 700px;
	height: 65px;
}
#header-right {
	float: right;
	width: 225px;
	height: 65px;
	padding-right: 75px;
	line-height: 65px;
	text-align: right;
}
.header-link {
	display: inline-block;
	padding: 0 10px 0 10px;
	font-family: Sansation;
	font-size: 26px;
	text-decoration: none;
	color: #2371A8;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.header-link:hover {
	color: #83B4D6;
}

/* Hero */
#hero {
	width: 1000px;
	height: 250px;
}

.test {
	display: inline-block;
	width: 150px;
	height: 200px;
	background: red;
}

/* Sections */
section {
	margin: 0;
	padding: 100px;
}

/* Forms */
#signup {
	font-family: 'Open Sans';
	margin-top: -60px;
	margin-bottom: 20px;
	width: 220px;
	height: 300px;
	display: none;
}

#signup-form {
	margin: 0 auto;
}

.signup-field {
	width: 200px;
	display: block;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px;
	font-family: 'Open Sans';
}

.login-field {
	display: block;
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px;
	font-family: 'Open Sans';
}

::-webkit-input-placeholder {
   font-family: 'Open Sans';
}
:-moz-placeholder { /* Firefox 18- */
   font-family: 'Open Sans'; 
}
::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Open Sans';
}
:-ms-input-placeholder {  
   font-family: 'Open Sans';
}
input:focus {
	outline: none;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	box-shadow: 0 0 5px #83B4D6;
	-webkit-box-shadow: 0 0 5px #83B4D6;
	-moz-box-shadow: 0 0 5px #83B4D6;
	-o-box-shadow: 0 0 5px #83B4D6;
}

.big-button {
display: block; cursor: pointer; border:1px solid #25729a; width: 100px; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:verdana; margin: 15px auto 0 auto; padding: 5px 10px 5px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); text-align: center; color: #FFFFFF; background-color: #36A6E0;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36A6E0), color-stop(100%, #1c5a85));
 background-image: -webkit-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: -moz-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: -ms-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: -o-linear-gradient(top, #36A6E0, #1c5a85);
 background-image: linear-gradient(top, #36A6E0, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36A6E0, endColorstr=#1c5a85);
}

.big-button:hover{
 border:1px solid #186c98; background-color: #1e8cc5;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e8cc5), color-stop(100%, #133d5b));
 background-image: -webkit-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: -moz-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: -ms-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: -o-linear-gradient(top, #1e8cc5, #133d5b);
 background-image: linear-gradient(top, #1e8cc5, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1e8cc5, endColorstr=#133d5b);
}